body {
  font-family: Helvetica;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #1ed760;
}

/* HEADER */

header {
  background-color: black;
  color: white;
}

header #header-content {
  width: 1160px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #spotify-logo img {
  margin-top: 10px;
  height: 45px;
}

header #spotify-logo a {
  font-size: 25px;
  margin-left: 5px;
}

header nav a {
  font-size: 15px;
  padding: 0 17px;
  font-weight: 600;
}

header nav span {
  padding: 0 10px;
  font-weight: 100;
}

header nav :nth-child(5),
header nav :last-child {
  color: #d9dadc;
}

header nav :nth-child(5):hover,
header nav :last-child:hover {
  color: #1ed760;
}

/*########################################################################################################################################*/

#section1 {
  background-color: #1d75de;
  flex-wrap: wrap;
}
#box1 {
  width: 1160px;
  margin: 0 auto;
  height: auto;
  font-size: 40px;
  color: white;
  display: flex;
  flex-flow: column;
  align-content: flex-start;
}
#box2 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-weight: 750;
}
#box3 {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 1;
}
#box4 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  font-size: 25px;
}
#button1 {
  background-color: black;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 100px;
  margin-right: 10px;
}
#button2 {
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 100px;
}
#box5 {
  margin-bottom: 30px;
  font-size: 10px;
  font-weight: 1;
}

#box6 {
  margin-top: 60px;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 60px;
  text-align: center;
}

#section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 120px;
}
#box7 {
  width: 150px;
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}

#section3 {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#box8 {
  display: flex;
  flex-direction: column;
}

#box9 {
  margin-top: 50px;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 6px;
  text-align: center;
}

#box10 {
  margin-bottom: 30px;
  text-align: center;
}

#bigbox {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}
#box11 {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
  justify-content: center;
  margin: 50px 0px 26px;
}

.box12 {
  grid-row: 1 / auto;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  color: rgb(0, 0, 0);
  border-radius: 10px 10px 10px 10px;
  padding-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  box-shadow: rgb(255 255 255) 0px 0px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
  margin: 0px 16px 0px 0px;
  background-color: rgb(255, 255, 255);
  max-width: 250px;
  width: auto;
}
.box13 {
  border-radius: 4px;
  font-size: 14px;
  padding: 4px 8px;
  display: inline-block;
  font-weight: 900;
  margin: 0px 4px 10px 0px;
  margin-block: 0px 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(46, 119, 208);
}
.box14 {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin: 0px 0px 5px;
  padding: 0px;
}

.box15 {
  color: rgb(0, 0, 0);
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0px 0px 2px;
}

.box16 {
  display: flex;
  margin-bottom: 5px;
  padding: 5px;
}

.checktext {
  display: flex;
  flex-direction: row;
}

.comecar {
  text-transform: uppercase;
  background-color: black;
  color: white;
  border-radius: 500px;
  padding-block: 14px;
  padding-inline: 32px;
  display: flex;
  justify-content: center;
  width: 180px;
}

.textofinal {
  margin-top: 20px;
  margin-bottom: auto;
  color: rgb(83, 83, 83);
  text-decoration-color: black;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
}

.box16 img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.espaco {
  width: 220px;
  height: 250px;
}

a:visited {
  color: black;
}

#footer {
  background-color: black;
  padding: 80px 0 50px;
  font-size: 12px;
}

#footerInfo {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 1170px;
}

#footerInfo img {
  width: 150px;
  height: 50px;
}

.allFooterInfo {
  display: block;
  margin-inline-start: 50px;
  margin-top: 13px;
  margin-bottom: 13px;
}

#footerColunas {
  display: flex;
  flex-direction: column;
}

#socialNetworks {
  display: flex;
  justify-content: flex-end;
  margin-left: 350px;
  flex-direction: row-reverse;
}

#socialNetworks img {
  width: 50px;
  height: 50px;
  display: flex;
  margin-left: 10px;
}

#lastText {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 100px;
}

#lastTextLeft {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#lastTextLeft a {
  color: gray;
}

#lastTextRight {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-self: flex-end;

  margin-left: 350px;
}

#lastTextRight a {
  color: gray;
  margin-top: 10px;
  text-align: right;
}

#lastTextRight img {
  height: 10px;
  width: 10px;
  padding-right: 5px;
}
